
org.forgerock.agents.config.local = true
org.forgerock.agents.config.postdata.preserve.dir =
com.sun.identity.agents.config.naming.url = AM_OPENAM_URL
com.sun.identity.agents.config.organization.name = AM_AGENT_REALM
com.sun.identity.agents.config.username = AM_AGENT_NAME
com.sun.identity.agents.config.password = AM_AGENT_PASSWORD
com.sun.identity.agents.config.key = AM_AGENT_KEY
com.sun.identity.agents.config.local.logfile = AM_DEBUG_FILE_PATHdebug.log
com.sun.identity.agents.config.local.audit.logfile = AM_AUDIT_FILE_PATHaudit.log
com.sun.identity.agents.config.debug.opt = 0
com.sun.identity.agents.config.debug.level = 
com.sun.identity.agents.config.audit.level = 
com.sun.identity.agents.config.audit.opt = 0
com.sun.identity.agents.config.sslcert.dir = 
com.sun.identity.agents.config.certdb.prefix = 
com.sun.identity.agents.config.certdb.password = 
com.sun.identity.agents.config.certificate.alias = 
com.sun.identity.agents.config.trust.server.certs = true
org.forgerock.agents.config.tls =
com.sun.identity.agents.config.connect.timeout = 4
com.forgerock.agents.ext.url.validation.level = 2
com.forgerock.agents.ext.url.validation.ping.interval = 60
com.forgerock.agents.ext.url.validation.ping.miss.count = 3
com.forgerock.agents.ext.url.validation.ping.ok.count = 3
com.forgerock.agents.ext.url.validation.default.url.set =  
com.forgerock.agents.config.hostmap =
com.forgerock.agents.init.retry.max =
com.forgerock.agents.init.retry.wait =


com.sun.identity.agents.config.agenturi.prefix = AM_AGENT_URL/amagent
com.sun.identity.agents.config.cookie.name = iPlanetDirectoryPro
com.sun.identity.agents.config.login.url[0] = AM_OPENAM_URL/UI/Login
com.sun.identity.agents.config.cookie.secure = false
com.sun.identity.agents.config.notification.enable = true
com.sun.identity.client.notification.url = AM_AGENT_URL/UpdateAgentCacheServlet?shortcircuit=false
com.sun.identity.agents.config.url.comparison.case.ignore = true
com.sun.identity.agents.config.policy.cache.polling.interval = 60
com.sun.identity.agents.config.sso.cache.polling.interval = 60
com.sun.identity.agents.config.userid.param = UserToken
com.sun.identity.agents.config.userid.param.type = session
com.sun.identity.agents.config.profile.attribute.fetch.mode = 0
com.sun.identity.agents.config.profile.attribute.mapping[]=
com.sun.identity.agents.config.session.attribute.fetch.mode = 0
com.sun.identity.agents.config.session.attribute.mapping[]=
com.sun.identity.agents.config.response.attribute.fetch.mode = 0
com.sun.identity.agents.config.response.attribute.mapping[]=
com.sun.identity.agents.config.load.balancer.enable = false
com.sun.identity.agents.config.sso.only = false
com.sun.identity.agents.config.access.denied.url =
com.sun.identity.agents.config.fqdn.check.enable = true
com.sun.identity.agents.config.fqdn.default = AM_AGENT_FQDN
com.sun.identity.agents.config.fqdn.mapping[] =
com.sun.identity.agents.config.cookie.reset.enable = false
com.sun.identity.agents.config.cookie.reset[0] =
com.sun.identity.agents.config.notenforced.url[0] =
com.sun.identity.agents.config.notenforced.url.invert = false
com.sun.identity.agents.config.notenforced.url.attributes.enable = false
com.sun.identity.agents.config.notenforced.ip[0] = 
com.sun.identity.agents.config.postdata.preserve.enable = false
com.sun.identity.agents.config.postcache.entry.lifetime = 180
com.sun.identity.agents.config.postdata.preserve.lbcookie =
com.sun.identity.agents.config.client.ip.validation.enable = false
com.sun.identity.agents.config.profile.attribute.cookie.prefix = HTTP_
com.sun.identity.agents.config.profile.attribute.cookie.maxage = 300
com.sun.identity.agents.config.cdsso.enable = false
com.sun.identity.agents.config.cdsso.cdcservlet.url[0] = AM_OPENAM_URL/cdcservlet
com.sun.identity.agents.config.cdsso.cookie.domain[0] =
com.sun.identity.agents.config.logout.url[0]=AM_OPENAM_URL/UI/Logout
com.sun.identity.agents.config.agent.logout.url[0]=
com.sun.identity.agents.config.logout.redirect.url=
com.sun.identity.agents.config.logout.cookie.reset[0]=
com.sun.identity.agents.config.fetch.from.root.resource = 0
com.sun.identity.agents.config.get.client.host.name = false
com.sun.identity.agents.config.encode.url.special.chars.enable = false
com.sun.identity.agents.config.encode.cookie.special.chars.enable = false
com.sun.identity.agents.config.override.protocol = false
com.sun.identity.agents.config.override.host = false
com.sun.identity.agents.config.override.port = false
com.sun.identity.agents.config.override.notification.url = false
com.sun.identity.agents.config.polling.interval = 180
com.sun.identity.agents.config.replaypasswd.key =
com.sun.identity.agents.config.policy.clock.skew = 0
com.sun.identity.agents.config.redirect.param = goto
com.forgerock.agents.cache_control_header.enable = false
com.sun.am.use_redirect_for_advice = false
com.sun.identity.agents.config.client.ip.header = 
com.sun.identity.agents.config.client.hostname.header =
com.forgerock.agents.agent.invalid.url.regex =
com.forgerock.agents.conditional.login.url =
com.sun.identity.cookie.httponly = false
com.sun.identity.agents.config.cookie.secure = false
com.sun.identity.agents.config.attribute.multi.value.separator = |
